<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" type="text/css" href="~/css/reports.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
