<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/css/reports.css" />
</head>
<body>
    <div class="landscape">
        @RenderBody()
    </div>
</body>
</html>
