html, body {
    font-family: 'Verdana', 'Arial';
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 5px 5px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

/* ----- Rotativa table header and footer overlap fix ----- */

thead {
    display: table-header-group
}

tfoot {
    display: table-row-group
}

tr {
    page-break-inside: avoid
}

/* -------------------------------------------------------- */

/* -------------------- Report Header --------------------- */

table.report-header {
    background-color: #d4e9ff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

    table.report-header thead tr td:first-child {
        width: 200px;
    }

/* -------------------------------------------------------- */

/* --------------------- Report Body ---------------------- */

table.report-table thead tr th {
    padding: 10px 5px;
    overflow: hidden;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.33);
    font-size: 14px;
    font-weight: 800;
    text-align: left;
}

    table.report-table thead tr th:not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
    }

table.report-table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

    table.report-table tbody tr.section-header {
        background-color: rgba(0, 0, 0, 0.33);
    }

    table.report-table tbody tr.section-subheader {
        background-color: rgba(0, 0, 0, 0.16);
    }

    table.report-table tbody tr:last-child {
        border: none;
    }

    table.report-table tbody tr td {
        padding: 5px;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        min-height: 48px;
    }

        table.report-table tbody tr td.nowrap {
            overflow: auto;
            white-space: nowrap;
        }

/* -------------------------------------------------------- */

/* -------------------- Report Footer --------------------- */


table.report-table tfoot tr:first-child {
    border-top: 3px double rgba(0, 0, 0, 0.50);
    border-bottom: 3px double rgba(0, 0, 0, 0.50);
}

/* -------------------------------------------------------- */



