div.pdf {
    margin: auto;
    padding: 10mm;
}

div.portrait {
    margin: auto;
    padding: 15px;
    width: 794px;
}

div.landscape {
    margin: auto;
    padding: 15px;
    width: 1123px;
}

div.portrait div.colContainer div {
    display: inline-block;
    width: 382px;
}

html, body {
    font-family: 'Verdana', 'Arial';
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header h1 {
    margin: 0;
    background-color: #327697;
    color: #ffffff;
    padding: 0.5em;
    font-weight: 300;
}

td, th {
    padding: 3px;
}

table.centered {
    margin: auto;
}

table.gridlines {
    border: 1px solid #000000;
    border-collapse: collapse;
}

    table.gridlines thead tr th, table.gridlines tbody tr td {
        border: 1px solid #000000;
    }

thead tr {
    background-color: #bebebe;
}

    thead tr th {
        text-align: left
    }

td.right {
    text-align: right
}

div.colContainer {
    padding: 0px;
}
